<section class="offset valign-large">
  <div class="row">
    <div class="column">
      <h1>
      <i class="fa fa-check fa-2x expandUp



      "></i>
      </h1>
    </div>
  </div>
  <br>
  <div class="row valign fade-in-long">
    <div class="column">
      <h1>Thanks!&nbsp<%= @visitor.email %>  We will keep you posted. </h1>



    </div>

  </div>
  <br>
  <br>
  <br>


  <div class="row">
      <div class="form-centered valign fade-in-long">
          <!-- <h3> Enter your email to try out the pre-release soon. </h3> -->

      </div>
    <!-- </div> -->
  </div>
</section>
