<%# navigation styled for Bootstrap 3.0 %>
<footer class="navbar navbar-inverse ceneter">
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <%#= link_to 'Home', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse center blue-text">
        <!-- © Copyright 2015, QwickSync -->
    </div>
</footer>
